.profile {
  display: flex;
  align-items: center;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ava {
  display: inline-block;
  margin: 20px;
  align-self: flex-start;
}
.ava img {
  /* max-width: 200px; */
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.profileInfo {
  display: inline-block;
}
.userName {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 0.7;
  margin-bottom: 10px;
}
.userStatus {
  display: inline-block;
  margin-bottom: 15px;
}

.contacts {

}
.contactsList {
  margin: 10px 0;
  padding-inline-start: 20px;
  list-style: none;
}