.wrapper {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.dialogItems {
	height: 100%;
	width: 20%;
	border-right: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #f5f5f5;
}

.messages {
	width: 100%;
	background-color: #fff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}