.wallpaper {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-image: url(https://4kwallpapers.com/images/wallpapers/wooden-boat-mirror-lake-reflection-mountain-view-pond-2560x1440-5681.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}
