.wallpaper {
  height: 250px;
  background-size: cover;
  background-image: url(https://4kwallpapers.com/images/wallpapers/wooden-boat-mirror-lake-reflection-mountain-view-pond-2560x1440-5681.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
