.header {
  grid-area: h;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
}
.header img {
  margin-left: 20px;
  width: 50px;
}
