.item {
  width: 100%;
}
.item a {
  padding: 10px 20px;
  display: block;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}
.item.set {
	margin: 20px auto;
}
.item .active {
  background-color: rgb(73, 141, 241);
  border: 1px solid rgb(67, 130, 223);
  color: white;
}
