.app-wrapper {
  width: 1200px;
  margin: 0 auto;

  display: grid;

  grid-template-areas:
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  background-color: #ebebeb;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.app-wrapper-content {
  grid-area: c;
  padding: 15px;
}