.nav {
  grid-area: n;
  background-color: #9c965d;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

.item {
  margin: 10px auto;
  color: white;
}
.item.set {
	margin-top: 40px;
}
.item.active {
  color: gold;
}
