.friends {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	background-color: #EBEBEB;
}
.friends span {
	display: flex;
	justify-content: center;
}

.friendsItems {
	display: flex;
	justify-content: space-between;
}
